<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Đăng ký tài khoản</h1>

    <ul class="nav nav-tabs" id="registerTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="candidate-tab" data-bs-toggle="tab" data-bs-target="#candidate"
                    type="button" role="tab" aria-controls="candidate" aria-selected="true">Ứng viên
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="company-tab" data-bs-toggle="tab" data-bs-target="#company" type="button"
                    role="tab" aria-controls="company" aria-selected="false">Công ty
            </button>
        </li>
    </ul>
    <br>
    <div class="tab-content" id="registerTabsContent">
        <div class="tab-pane fade show active" id="candidate" role="tabpanel" aria-labelledby="candidate-tab">
            <form method="post" action="/auth/register/candidate">
                <div class="mb-3">
                    <label for="candidateFullName" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="candidateFullName" name="fullName" required>
                </div>
                <div class="mb-3">
                    <label for="candidateEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="candidateEmail" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="candidatePhone" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="candidatePhone" name="phone" required>
                </div>
                <div class="mb-3">
                    <label for="candidateDob" class="form-label">Ngày sinh</label>
                    <input type="date" class="form-control" id="candidateDob" name="dob" required>
                </div>
                <div class="mb-3">
                    <label for="candidateStreet" class="form-label">Tên đường</label>
                    <input type="text" class="form-control" id="candidateStreet" name="address.street" required>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mb-3 me-2 flex-fill">
                        <label for="candidateCity" class="form-label">Thành phố</label>
                        <input type="text" class="form-control" id="candidateCity" name="address.city" required>
                    </div>
                    <div class="mb-3">
                        <label for="candidateCountry" class="form-label">Quốc gia</label>
                        <select class="form-select" id="candidateCountry" name="address.country" required>
                            <option th:selected="${country.alpha2 == 'VN'}" th:each="country : ${countries}"
                                    th:value="${country}" th:text="${country.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mb-3 me-2 flex-fill">
                        <label for="candidateNumber" class="form-label">Number</label>
                        <input type="text" class="form-control" id="candidateNumber" name="address.number" required>
                    </div>
                    <div class="mb-3">
                        <label for="candidateZipcode" class="form-label">Zipcode</label>
                        <input type="text" class="form-control" id="candidateZipcode" name="address.zipcode" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="candidatePassword" class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" id="candidatePassword" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="company-tab">
            <form method="post" action="/auth/register/company">
                <div class="mb-3">
                    <label for="companyName" class="form-label">Tên công ty</label>
                    <input type="text" class="form-control" id="companyName" name="compName" required>
                </div>
                <div class="mb-3">
                    <label for="companyEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="companyEmail" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="companyPhone" class="form-label">Số điện thooại</label>
                    <input type="text" class="form-control" id="companyPhone" name="phone" required>
                </div>
                <div class="mb-3">
                    <label for="companyWebUrl" class="form-label">Website URL</label>
                    <input type="url" class="form-control" id="companyWebUrl" name="webUrl" required>
                </div>
                <div class="mb-3">
                    <label for="companyAbout" class="form-label">Thông tin thêm về công ty</label>
                    <textarea class="form-control" id="companyAbout" name="about" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="companyStreet" class="form-label">Tên đường</label>
                    <input type="text" class="form-control" id="companyStreet" name="address.street" required>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mb-3 me-2 flex-fill">
                        <label for="companyCity" class="form-label">Thành phố</label>
                        <input type="text" class="form-control" id="companyCity" name="address.city" required>
                    </div>
                    <div class="mb-3">
                        <label for="companyCountry" class="form-label">Quốc gia</label>
                        <select class="form-select" id="companyCountry" name="address.country" required>
                            <option th:selected="${country.alpha2 == 'VN'}" th:each="country : ${countries}"
                                    th:value="${country}" th:text="${country.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mb-3 me-2 flex-fill">
                        <label for="companyNumber" class="form-label">Number</label>
                        <input type="text" class="form-control" id="companyNumber" name="address.number" required>
                    </div>
                    <div class="mb-3">
                        <label for="companyZipcode" class="form-label">Zipcode</label>
                        <input type="text" class="form-control" id="companyZipcode" name="address.zipcode" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="companyPassword" class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" id="companyPassword" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>