<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinh nghiệm làm việc</title>
</head>
<body>
<div class="container">
    <form action="auth/register/candidate/experience" method="get">
        <h3 class="mb-3">Kinh nghiệm làm việc</h3>
        <div class="mb-3 skills">
            <h4 class="mb-3">Skills</h4>
            <div class="form-group row" th:each="skillCan : *{skills}">
                <div class="mb-3 col">
                    <label for="skill[0]" class="form-label">Skill</label>
                    <select class="form-select" name="skill[0]" id="skill[0]">
                        <option th:each="skill : ${skills}" th:value="${skill.id}"
                                th:text="${skill.skillName}"></option>
                    </select>
                </div>
                <div class="mb-3 col">
                    <label for="skills[0].skillLevel" class="form-label">Skill Level</label>
                    <select id="skills[0].skillLevel" class="form-select" name="skills[0].skillLevel'}">
                        <option th:each="level : ${levels}" th:value="${level.ordinal()}"
                                th:text="${level.name}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <button type="button" class="btn btn-primary me-2" onclick="addSkill()">Thêm kỹ năng</button>
            <button type="button" class="btn btn-danger" onclick="removeSkill()">Xóa kỹ năng</button>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <script>
        const skills = document.querySelector('.skills');
        let skillLength = skills.childElementCount;
        const skillTemplate = document.querySelector('.skills').lastElementChild;

        function addSkill() {
            const newSkill = skillTemplate.cloneNode(true);
            newSkill.querySelectorAll('select').forEach(select => {
                select.selectedIndex = 0;
                select.name = select.name.replace(/\d+/, (skillLength - 1) + '');
            });
            skills.appendChild(newSkill);
            skillLength++;
        }

        function removeSkill() {
            if (skillLength <= 2) {
                return;
            }
            skills.removeChild(skills.lastElementChild);
            skillLength--;
        }
    </script>
</div>

</body>
</html>