<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidates with pagination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: nav}">
    </div>

    <form class="d-flex mb-4" method="get" action="/companies">
        <input class="form-control me-2"
               type="search"
               name="search"
               placeholder="Search by name, email, phone, web url..."
               aria-label="Search"
               th:value="${search}"
        >
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Tên công ty</th>
            <th>Địa chỉ</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Website</th>
            <th>Xem thêm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company, iStat : ${companyPage}"
            th:classappend="${iStat.odd} ? 'table-active' : ''"
            th:title="${iStat.even} ? 'even' : 'odd'">
            <td th:text="${company.compName()}"></td>
            <td th:object="${company.address}">
                <span th:text="*{street}"></span>,
                <span th:text="*{city}"></span>,
                <span th:text="*{country.name}"></span>
            </td>
            <td th:text="${company.phone}"></td>
            <td th:text="${company.email}"></td>
            <td th:text="${company.webUrl}"></td>
            <td class="text-center align-middle">
                <a th:href="@{/companies/{id}(id=${company.id})}" class="btn btn-info btn-sm">Xem</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4" th:if="${companyPage.totalPages > 0}">
        <nav>
            <ul class="pagination flex-wrap">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link"
                       th:href="@{/companies(size=${companyPage.size}, page=${pageNumber}, search=${search})}"
                       th:if="${search != null and search != ''}"
                       th:text="${pageNumber}"
                       th:classappend="${pageNumber == companyPage.number + 1} ? 'active' : ''"></a>
                    <a class="page-link" th:href="@{/companies(size=${companyPage.size}, page=${pageNumber})}"
                       th:if="${search == null or search == ''}"
                       th:text="${pageNumber}"
                       th:classappend="${pageNumber == companyPage.number + 1} ? 'active' : ''"></a>
                </li>
            </ul>
        </nav>
    </div>

</div>
</body>
</html>