<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.metaTitle}"></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 th:text="${post.title}">Post Title</h1>
        <div th:if="${!#ctx.session.isEmpty() &&  #ctx.session.user.id == post.authorId}">
            <a th:href="@{/posts/{id}/edit(id=${post.id})}" class="btn btn-warning">Edit</a>
            <a th:href="@{/posts/parent/{parentId}/create(parentId=${post.id})}" class="btn btn-primary">Create child
                post</a>
        </div>
    </div>
    <p class="text-muted">
        <a th:href="@{'/users/' + ${post.authorId}}" th:text="${post.authorName}">Author Name</a>
    </p>
    <b>Time published:</b>
    <p th:text="${#dates.format(post.publishedAt, 'HH:mm dd/MM/yyyy')}"></p>
    <hr>
    <div th:utext="${post.content}">Post Content</div>
    <br>
    <a th:if="${post.parentId != null}" th:href="@{/posts/{id}(id=${post.parentId})}" class="btn btn-primary">Previous
        post</a>

    <!-- Add Comment Form -->
    <div class="mt-5">
        <h2>Add a Comment</h2>
        <form action="#" th:action="@{'/posts/' + ${post.id} + '/comments'}" th:object="${comment}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Comment title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Comment content</label>
                <textarea class="form-control" id="content" th:field="*{content}" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Comments Section -->
    <div class="mt-5">
        <h2>Comments</h2>
        <div th:each="cmt : ${comments}" class="mb-3">
            <p><b th:text="${cmt.title}"></b></p>
            <p th:text="${cmt.content}">Comment Content</p>
            <p class="text-muted" th:text="${#dates.format(cmt.publishedAt, 'HH:mm dd/MM/yyyy')}"></p>
            <div th:each="childCmt : ${cmt.postComments}" class="ms-5 ps-2 border-start border-3 border-primary">
                <p><b th:text="${childCmt.title}"></b></p>
                <p th:text="${childCmt.content}">Comment Content</p>
                <p class="text-muted" th:text="${#dates.format(childCmt.publishedAt, 'HH:mm dd/MM/yyyy')}"></p>
            </div>
            <hr>
        </div>
    </div>
</div>
</body>
</html>